<h1><%= @topic.name %></h1>

<div class="row">
  <div class="col-md-8">
    <p class="lead"> <%= @topic.description %> </p> 
    </div> 
    <div class="col-md-8">
      <% if policy(@topic).update? %>
        <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
      <% end %>
      <% if policy(Post.new).create? %>
        <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-success' %>
      <% end %>
    </div> 
    <div class="col-md-12">
    <% @posts.each do |post| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to post.title, post_path %>
          </h4> 
          <div class="image-container">
          <%= link_to image_tag(post.image.post_thumbnail.url), [@topic, @post] if post.image %>
          </div>
          <small>
            <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar %>
            submitted <%= time_ago_in_words(post.created_at) %> ago by 
            <%= post.user.name %><br/>
            <%= post.comments.count %> Comments
          </small>
        </div> 
      </div>
    <% end %>
  </div>  
</div> 
<div class="paginate">
    <%= will_paginate @posts %>
</div>