<h1> <%= @post.title %> </h1>
  
<div class="row">
  <div class="col-md-8">
    <% if policy(@post).edit? %>
      <%= link_to "Edit Post", edit_post_path, class: 'btn btn-success' %>
    <% end %> 
  </div>
  <div class="col-md-8">
    <small>
        <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
        submitted <%= time_ago_in_words(@post.created_at) %> ago by
        <%= @post.user.name %>
    </small>
    <h4><%= @post.body %></h4>
  </div> 
    <div class="col-md-6"> 
      <%= image_tag(@post.image.post_view.url) if @post.image? %>
    </div>
  <div class="col-md-8">
    <button class="btn btn-success"> 
        <%= link_to "New Comment", :controller => :comments, :action => :new, :post_id => @comment %>
      </button> 
  </div>
  <div class="col-md-8">
    <% @post.comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div> 
</div> 